.leadTxt{
	font-size:1.2em;
	padding:5% 0 0 0;
}

.leadTxtCTA{
	background:#FFBC42;
	padding:3%;
	border: none;
	border-radius: 5px;
}

.leadTxtCTA a{
	font-weight: bold;
	color:#000;
}

.lead button {
  background: #E72779;
}

a:link, a:visited, a:hover{
	color:black;
}
header{
	border-top: #00C399 30px solid;
}

body > footer{
  border-bottom: 1px solid var(--border);
  text-align: center;
  grid-column: 1/-1;
  box-sizing: border-box;
}

section{
	margin-bottom:5%;
}

.column {
	padding: 5%;
	width: 40%;
	float:left;
	text-align: center;
}

.columnLead{
	padding-left:5%;
	width:25%;
	float:left;
}
.columnLeadText{
	padding-left:7%;
	width:60%;
	float:left;
	text-align: left;

}


.pLogo{
	padding: 1%;
}
.waologo{
	padding: 1.5% 1%;
}

.icon{
	position:relative;
	top:10px;
}

@media only screen and (max-width: 480px) {
  h1 {
	  font-size:30px;
	  }
  .column, .lead {
 	 clear:both;
 	 width:100%;
		}
}


button {
  background: #111358;
}
button:hover{
	  background: #00C399;

}