a:link, a:visited, a:hover{
	color:gray;
}
header{
	border-top: #00C399 30px solid;
}

body > footer{
  background: var(--accent-bg);
  border-bottom: 1px solid var(--border);
  text-align: center;
  grid-column: 1/-1;
  box-sizing: border-box;
}

h1{
	padding: 3% 0;
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 75px;
	color: #2F495A;
}
section{
	margin-left:auto;
	margin-right:auto;
}
.column {
	padding: 5%;
	width: 40%;
	float:left;
	text-align: center;
}

.pLogo{
	padding: 1%;
}
.waologo{
	padding: 1.5% 1%;
}

.icon{
	position:relative;
	top:10px;
}

@media only screen and (max-width: 600px) {
  h1 {
	  font-size:30px;
	  }
  .column {
 	 clear:both;
 	 width:100%;
		}
}


button {
  background: #111358
}
