header{
	border-top: #00C399 30px solid;
}

body > footer{
  background: var(--accent-bg);
  border-bottom: 1px solid var(--border);
  text-align: center;
  padding: 0 .5rem 2rem .5rem;
  grid-column: 1/-1;
  box-sizing: border-box;
}

h1{
	padding: 3% 0;
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 75px;
	color: #2F495A;
}
section{
	margin-left:auto;
	margin-right:auto;
}
.column {
	padding: 5%;
	width: 40%;
	float:left;
	text-align: center;
}

@media only screen and (max-width: 600px) {
  h1 {
	  font-size:30px;
	  }
  .column {
 	 clear:both;
 	 width:100%;
		}
}

@media (prefers-color-scheme: dark) {
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #d8dae1;
  --accent: #0d47a1;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}
